<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}WebMag!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block aside %}{% endblock %}
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
