<div class="aside-widget">
    <div class="tags-widget">
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="{{ path('tag_page', { slug: tag.slug }) }}">{{ tag.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
