<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="{{ asset('exception/css/500.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>500</h1>
        <p>{{ 'exception.500.sorry'|trans }}</p>
        <p>:(</p>
        <p>
            <a href="{{ path('home') }}">{{ 'exception.500.go_home'|trans }}</a>
        </p>
    </div>
</div>
</body>
</html>
